.Button {
  background: none;
  border: none;
  cursor: pointer;
  line-height: var(--font-line-height-large);
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  font-weight: var(--font-weight-semibold);
  min-width: 120px;
}

.Button:hover {
  filter: brightness(0.9);
}

.Button.primary {
  background-color: var(--color-theme-primary-00);
  color: var(--color-theme-primary-04);
}

.Button.secondary {
  background-color: var(--color-theme-secondary-00);
  color: var(--color-theme-secondary-04);
}

.Button.small {
  font-size: var(--font-size-small);
}

.Button.medium {
  font-size: var(--font-size-medium);
}

.Button.large {
  font-size: var(--font-size-xlarge);
}
